* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: .5rem;
}

ul {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

li {
    text-decoration: none;
    padding: 1rem;
}

a {
    text-decoration: none;
}